@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --color_main : rgba(247, 243, 238, 0.966);
  --color_sidebar : rgba(248, 238, 226, 0.753);
  --color_inside : rgba(248, 238, 226, 0.753);
  --color_top : rgba(238, 212, 181, 0.753);
  --color_container : 


  --color_main_dark : rgba(247, 243, 238, 0.966);
  --color_sidebar_dark : #212529;
  --color_inside_dark : rgba(248, 238, 226, 0.753);
  --color_top_dark : rgba(238, 212, 181, 0.753);
  --color_container_dark : 
}

@media (min-width: 1500px) {
  #sidebar{
    width: 15%;
  }
  #maincenter{
    width: 85%;
    margin-left: 15%;
  }
  #maincenterNew{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media (max-width: 1500px) {
  #sidebar{
    display: none;
    margin-left: 0;
  }
  #maincenter{
    width: 100%;
    margin-left: 0%;
  }
  #maincenterNew{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (max-width: 1000px) {
  .category-col{
    display: none;
  }
}
body{
  margin: 0;
  background-color: var(--color_main)
}
h1,h2{
    font-family: 'Montserrat', sans-serif;
}
p{
  font-family: 'Montserrat', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}
.container{
    display: flex;
    padding-right: 20%;
    padding-left: 5%;
}
.containerNew{
  margin-right: 5%;
  margin-left: 5%;
}
.sidebars{
    position: fixed; /*It stays in the same place*/ 
    height: 100%;
    display: inline-block;
    overflow-x: scroll;
    background-color: var(--color_sidebar);
}

.sidebarTop{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color_sidebar);
  outline: dotted #c3c3c3;
}

.title{
  margin-right: auto;
}

.inside{
    height: 100%;
    width: 100%;
    padding-top: 10px;
    flex-direction: column;
    background-color: var(--color_sidebar);
}

.center-sidebar{
  height: 100%;
}
.profile{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
}
.photo{
    height: 60%;
    border-radius: 100%;
    margin: auto;
}
.main-photo{
  border-radius: 10px;
  width: 80%;
  display: inline-block;
  vertical-align: middle;
}
.main-paragraph{
  display: inline-block;
  vertical-align: center;
}
.bio{
    margin-top: 50%;
    display: flex;
    align-items: center;
    list-style: none;
    width: auto;
}

.sidebarTop{
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: var(--color_top);
  border: #c3c3c3;
}

.bio-list{
  list-style: none;
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}
.bio-option{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
.bio-link{
    text-decoration: none;
}
.bio-text{
  font-weight: bold;
}
.bio-button{
  opacity: 0.6;
  height: 100%;
  width: 150px;
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  background-color: transparent;
  box-shadow: 15px 15px 10px rgba(0,0,0,0.15);
}
.bio-button:hover{
  opacity: 1;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}
.index-bar{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    padding-top: 30px;
    height: 100px;
    padding-bottom: 10px;
}
.main{
    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 20px;
    display: inline-block;
}
.cool-lists{
  list-style:circle;
}
.blog{
    width: 26%;
    height: auto;
    display: inline-block;
}
.CV-display{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
    height: 800px;
}
.logo{
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    opacity: 0.5;
}
.logo:hover{
    opacity: 1;
    cursor: pointer;
}
.footer-logo{
    margin-top: 10px;
    border-top: thin dotted #c3c3c3;
    padding-top: 10px;
    text-align: center;
    display: block;
}
/*Aqui acaba el codigo para el about me*/
/*Codigo blog-specific*/




.category-row{
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center center;
  height: 300px;
  width: 100%;
  /*background-color: aqua;/**/
  display: flex;
  border-radius: 20px;
}
.category-col{
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center center;
  height: 300px;
  width: 350px;
  margin-right: 20px;
  /*background-color: red;/**/
}
.entry-summary{
  text-decoration: none;
  margin-left: auto;
}
.category-link{
  text-decoration: none;
  text-align: center;
}

.category-img{
  height:300px;
  width: 350px;
  border-radius: 5%;
}

.category-button{
  display: flex;
  border-radius: 20px;
  height: 300px;
  width: 100%;
  background-color: transparent;
  border-color: grey;
  border-radius: 20px;
  border-style: solid;
  margin-bottom: 50px;
}

.category-button:hover{
  background-color: #73ade749;
}

.category-text{
  color: #1a1d20;
  font-size: medium;
}

.category-title{
  /***/
}

details summary::marker {
  content: "⮞ ";
  color: indigo;
  font-size: 1.5rem;
}

/* Flecha en contenido desplegado */
details[open] summary::marker {
  content: "⮟ ";
}
.dark-mode-button{
  background-color: transparent;
  border: none;
  margin-top: 40px;
}
.blog-container{
  padding-left: 5%;
  padding-right: 15%;
}
/*---------------------------------------------------------------------*/
/*DARK MODE STUFF*/
.shadow-dark {
  background-color: linear-gradient(145deg, #23282c, #1e2125);
  box-shadow: 17px 17px 23px #1a1d20,
    -17px -17px 23px #282d32, inset 5px 5px 4px #1e2226,
    inset -5px -5px 4px #24282c;
}

.shadow-light {
  box-shadow: 7px 7px 15px -10px #bbcfda, -4px -4px 13px #ffffff,
    inset 7px 7px 3px rgba(209, 217, 230, 0.35),
    inset -11px -11px 3px rgba(255, 255, 255, 0.3)
}

.dark-mode { /*General para el comienzo*/
  background-color: #212121;
  color: whitesmoke;
  transition-property: background-color, color;
  transition-duration: 0.5s;
}

.dark-mode-option { /*General para el comienzo*/
  color: whitesmoke;
}

.dark-mode-sidebar { /*General para el comienzo*/
  background-color: var(--color_sidebar_dark);
  transition-property: background-color, color;
  transition-duration: 0.5s;
}
.dark-mode-text {
  color: rgb(221, 211, 240);
  font-weight: bold;
}

 /*Cambios iniciales*/
.dark-mode-sidebar-initial { /*General para el comienzo*/
  background-color: var(--color_sidebar_dark);
}
.dark-mode-text-initial {
  color: rgb(221, 211, 240);
  font-weight: bold;
}

.dark-mode-initial { /*General para el comienzo*/
  background-color: #212121;
  color: whitesmoke;
}

.dark-mode-option-initial { /*General para el comienzo*/
  color: whitesmoke;
}

/*LIGHT MODE*/

.light-mode { /*General para el comienzo*/
  background-color: var(--color_main);
  transition-property: background-color;
  transition-duration: 0.5s;
}

.light-mode-option { /*General para el comienzo*/
  color: #1a1d20;
}

.light-mode-sidebar { /*General para el comienzo*/
  background-color: var(--color_sidebar);
  transition-property: background-color, color;
  transition-duration: 0.5s;
}
.light-mode-text {
  font-weight: bold;
}

 /*Cambios iniciales*/
.light-mode-sidebar-initial { /*General para el comienzo*/
  background-color: var(--color_sidebar);
}
.light-mode-text-initial {
  font-weight: bold;
}

.light-mode-initial { /*General para el comienzo*/
  background-color: var(--color_main);
}

.light-mode-option-initial { /*General para el comienzo*/
  color: #1a1d20;
}



.flex-column{
  flex-direction: column;
}
.flex-row{
  flex-direction: row;
}
.to-left{
    float: left;
}
.to-right{
    float: right;
}
.to-top{
  float: top;
}
.to-bot{
  float: bottom;
}
.to-bottom{
    position: absolute;
    bottom: 20px;
    left: 10px;
}