/* This makes the component sticky on scroll */
.timeline {
  position: sticky;
  top: 80px; /* Adjust this value based on your navbar's height */
  padding: 1rem;
  padding-left: 1.5rem;
  align-self: flex-start; /* Prevents it from stretching */
  text-align: justify;
}

.timeline strong {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--text-secondary);
}

.timeline ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
  /* This creates the "timeline" vertical line */
  border-left: 2px solid var(--border-color);
}

.timeline li {
  padding: 0.5rem 1rem;
  padding-bottom: 0px;
}

.timeline a {
  text-decoration: none;
  color: var(--text-secondary);
  font-size: 0.95rem;
}

.timeline a:hover {
  color: var(--accent);
}

.timeline-subsection-list {
  padding-left: 1rem; /* Indent the H3 list */
  margin-top: 0.25rem;
}

.timeline-h3 {
  padding: 0.25rem 0;
}

.timeline-h3 a {
  font-size: 0.85rem; /* Make H3 links a bit smaller */
  color: var(--text-secondary);
}